body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 0;
    font-family: 'Cormorant Unicase', serif;
  }

  nav ul {
    text-align: right;
    position: fixed;
    width: 100%;
    background-color: rgb(60, 98, 138);
  }

  #navbar {
    margin: 0px;
    background-image: url(/images/logoW.png);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: 20px;
    color: #abcdef;
    color: 
  }
  
  nav ul li {
    display: inline-block;
    margin: 55px;
    margin-bottom: 15px;
    margin-top: 25px;
    border: 1px aliceblue solid;
    border-radius: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  nav ul li a {
    color: #FAFFFF;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    color: lightblue;
  }

  .intro {
    top: 0;
    min-height: 55vh;
    background: linear-gradient(to bottom, rgb(84, 165, 168) 0%, rgb(255, 255, 255) 100%);;
    padding-top: 45vh;
    /*   line-height: 100vh; */
    /*   width:100%;
    height:96vh;
  border:solid; */
  }

  #pclass {
    color: rgb(115,189,215);
    font-weight: 800;
  }

  /* -----------PROJECTS----------- */
  .work {
    padding-top: 60px;
    margin-top: -60px;
   }

   .project-pics-links {
    /* display:flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row; */
   }

  .project-pic {
    /* max-width: 60%;
    flex-grow: 1;
    border: 20px solid rgb(127, 215, 236);
    height: 400px;
    width: 400px;
    border-radius: 30px; */
    max-width: 50vw;
    max-height: 50vh;
  }

  figcaption {
    /* border: 5px solid rgb(127, 215, 236);
    text-align: center;
    border-radius: 30px; */
    text-align: center;
  }

  .pic1 {
    display: flex;
    flex-direction: row;
    margin-left: 200px;
    align-items: center;
  }

  .pic2 {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 200px;
    align-items: center;
  }

  .pic2 h1 {
    padding-right: 30px;
  }

  .pic3 {
    display: flex;
    flex-direction: row;
    margin-left: 200px;
    align-items: center;
  }

  .pic4 {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 200px;
    align-items: center;
  }

  .pic4 h1 {
    padding-right: 30px;
  }

  .pic5 {
    display: flex;
    flex-direction: row;
    margin-left: 200px;
    align-items: center;
    margin-right: 80px;
    padding-left: 100px;
  }
  
  .pic5 h1 {
    padding-left: 70px;
  }

  .project-pics-links a:link {
    text-decoration: none;
    color: green;
  }

  .project-pics-links a:visited {
    text-decoration: none;
    color: lightskyblue;
  }

  .project-pics-links a:hover {
    text-decoration: none;
    color: red;
  }

  figure {
    /* align-self: center;
    align-content: center; */
  }

  .intro p {
      color: rgb(196, 155, 21);
  }

  .connect {
    background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(84, 165, 168) 100%);
    line-height: 300px;
    padding: 60px;
   }

  .profile-buttons {
    border-style: solid;
    border-radius: 100px;
    padding: 30px;
  }

  a.profile-buttons:visited {
    background-color: skyblue;
  }

  a.profile-buttons:hover {
    background-color: aliceblue;
  }
  
  @media screen and (min-width: 480px) {
  
  footer {
    padding: 20px;
  }

