
button {
    width: 300px;
}

main {
display: flex;
flex-direction: column;
align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

body { font-family: sans-serif; }

.scene {
  width: 200px;
  height: 260px;
  border: 1px solid #CCC;
  margin: 40px 0;
  perspective: 600px;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  /* width: 100%;
  height: 100%; */
  /* line-height: 260px; */
  /* color: white; */
  text-align: center;
  backface-visibility: hidden;
}


.card__face--back {
  transform: rotateY(180deg);
  text-align: center;
}

img {
   padding-top:  
}
